body{
	background-color: #80b2ff;
	font-style: Helvetica, sans-serif;
}
h1 {
	text-align: center;
}
.fruitContainer {
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.fruit {
	display: inline-block;
	margin: 0 auto;
	padding: 25px;
	width: 200px;
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}
.box {

	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	width: 240px;
	margin-top: 5px;
	padding: 5px;

}
.averagePrice {
	position: relative;
	display: block;
	text-align: center;
}
button {
	width: 100%;
	margin: 2px;
	padding: 5px;
}
#endscore {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 600000000;
	top: 0px;
	left: 0px;
	text-align: center;
}
#resetgame {
	width: 50%;
}
img {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 5px;
}
.notenough {
	position: absolute;
	left: 20%;
	top: 50%;
	z-index: 330393939339;
	background-color: white;
	border: 1px solid black;
	font-size: 50px;
	padding: 5px;
}
.fruity {
	font-size: 20px;
}
h3 {
	font-size: 25px;
}
.cashbox {
	margin: 5px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	width: 1025px;
}